div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-direction: column;
    h1{
        color: #df4848;
        font-size: 80px;
    }
    h3{
        color: #a7364d;
    }
}