.chat {
  width: calc(65% - 85px);
  .header-chat {
    background-color: #FFF;
    height: 90px;
    box-shadow: 0px 3px 2px rgba(0,0,0,0.100);
    display:flex;
    align-items: center;
    .profile-img{
      width: 50px;
      height: 50px;
    }
    .icon {
      margin-left: 30px;
      color:#515151;
      font-size: 14pt;
    }
    .name {
      margin: 0 0 0 20px;
      text-transform: uppercase;
      font-family:'Montserrat', sans-serif;
      font-size: 13pt;
      color:#515151;
    }
    .right {
      position: absolute;
      right: 40px;
    }
  }
  .messages-chat{
    height: 390px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 25px 35px;
    .message {
      display:flex;
      align-items: center;
      margin-bottom: 8px;
      .response {
        float: right;
        margin-right: 0px !important;
        margin-left:auto; /* flexbox alignment rule */
        .text {
          background-color: #e3effd !important;
        }
      }
      .photo {
        display: block;
        width: 45px;
        height: 45px;
        background: #E6E7ED;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
      .text {
        margin: 0 35px;
        background-color: #f6f6f6;
        padding: 15px;
        border-radius: 12px;
      }
    }
    .response-time {
      float: right;
      margin-right: 40px !important;
    }
    .text-only {
      margin-left: 45px;
    }
    .time {
      font-size: 10px;
      color:lightgrey;
      margin-bottom:10px;
      margin-left: 85px;
    }
  }
  .footer-chat {
    width: calc(65% - 66px);
    height: 80px;
    display:flex;
    align-items: center;
    position:absolute;
    bottom: 0;
    background-color: transparent;
    border-top: 2px solid #EEE;
    .icon {
      margin-left: 30px;
      color:#C0C0C0;
      font-size: 14pt;
    }
    .send {
      color:#fff;
      background-color: #4f6ebd;
      position: absolute;
      right: 50px;
      padding: 12px 12px 12px 12px;
      border-radius: 50px;
      font-size: 14pt;
    }
    .name {
      margin: 0 0 0 20px;
      text-transform: uppercase;
      font-family:'Montserrat', sans-serif;
      font-size: 13pt;
      color:#515151;
    }
    .right {
      position: absolute;
      right: 40px;
    }
    .write-message {
      border:none !important;
      width:60%;
      height: 50px;
      margin-left: 20px;
      padding: 10px;
      outline: none;
    }
    .clickable {
      cursor: pointer;
    }
  }
}
