.container {
    padding:0;
    background-color: #FFF;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    height: 700px;
    .row{
        display: flex;
        .discussions {
            cursor: pointer;
            width: 35%;
            height: 700px;
            box-shadow: 0px 8px 10px rgba(0,0,0,0.20);
            overflow: hidden;
            background-color: #87a3ec;
            display: inline-block;
              .photo {
                  margin-left:20px;
                  display: block;
                  width: 45px;
                  height: 45px;
                  background: #E6E7ED;
                  -moz-border-radius: 50px;
                  -webkit-border-radius: 50px;
                  background-position: center;
                  background-size: cover;
                  background-repeat: no-repeat;
                  .online {
                      position: relative;
                      top: 30px;
                      left: 35px;
                      width: 13px;
                      height: 13px;
                      background-color: #8BC34A;
                      border-radius: 13px;
                      border: 3px solid #FAFAFA;
                    }
              }
              .desc-contact {
                  height: 43px;
                  width:50%;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  .name {
                      margin: 0 0 0 20px;
                      font-family:'Montserrat', sans-serif;
                      font-size: 11pt;
                      color:#515151;
                    }
                    .message {
                      margin: 6px 0 0 20px;
                      font-family:'Montserrat', sans-serif;
                      font-size: 9pt;
                      color:#515151;
                    }
                }
                .timer {
                  margin-left: 15%;
                  font-family:'Open Sans', sans-serif;
                  font-size: 11px;
                  padding: 3px 8px;
                  color: #BBB;
                  background-color: #FFF;
                  border: 1px solid #E5E5E5;
                  border-radius: 15px;
                }
                .discussion {
                    width: 100%;
                    height: 90px;
                    background-color: #FAFAFA;
                    border-bottom: solid 1px #E0E0E0;
                    display:flex;
                    align-items: center;
                    &.search {
                      display:flex;
                      align-items: center;
                      justify-content: center;
                      color: #E0E0E0;
                      flex-direction: column;
                      position: relative;
                      .search-wrapper{
                        top: 65px;
                        position: absolute;
                        width: 70%;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        .searched-users{
                          width: 100%;
                          padding: 5px 0;
                          background-color: #b4b1b1;
                          border: 1px solid #578557;
                          z-index: 10;
                          margin-top: 5px;
                        }
                      }
                      .searchbar {
                          height: 40px;
                          background-color: #FFF;
                          width: 70%;
                          padding: 0 20px;
                          border-radius: 50px;
                          border: 1px solid #EEEEEE;
                          display:flex;
                          align-items: center;
                          cursor: pointer;
                        .fa-X{
                          color: #ff5757;
                        }
                          input {
                              outline: none;
                              margin-left: 15px;
                              height:38px;
                              width:100%;
                              border:none;
                              font-family: 'Montserrat', sans-serif;;
                            }
                        }
                    }
                }
              .message-active {
                width: 98.5%;
                height: 90px;
                background-color: #FFF;
                border-bottom: solid 1px #E0E0E0;
            }
          }

    }
}

