.users-list{
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  > h1{
    background-color: rgba(30, 84, 19, 0.71);
    border: 2px solid #00ad1e;
    border-top: none;
    width: 100%;
    color: #49ff50;
    padding: 10px 0;
    text-align: center;
    border-radius: 0 0 80% 80%;
  }
  .user-item{
    margin-top: 5px;
    cursor: pointer;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 5px 10px;
    background-color: #e9eaec;
    border-radius: 3px;
    margin-bottom: 5px;
    .name{
      font-size: 18px;
      color: #504242;
    }
    .active{
      color: #00ad1e;
      .active-icon{
        color: #07d212;
        font-size: 14px;
      }
    }
  }
}
