@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
*{
  font-family: 'Roboto Slab', serif;
}
.bg{
  background-color: #272b36;
  width: 100%;
  min-height: 100vh;
  .container{
    position:absolute;
    width: auto;
    height:auto;
    top: calc(50% - 240px);
    left: calc(50% - 160px);
    form {
      position: absolute;
      background: #fff;
      width: 400px;
      height: 500px;
      border-radius: 5px;
      background-color: #505560;
      padding: 30px 20px 10px 20px;
      box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
      button{
        margin-top: 15px;
      }
      .regBtn{
        width: 150px;
        height: 50px;
        background-color: #1d90f5;
        border-radius: 18px;
        color: #fff;
        border: none;
      }
      input{
        border: none;
        background-color: rgba(0, 0, 0, 0);
        outline: none;
        color: #fff;
      }
      h1{
        color: #fff;
        margin-bottom: 12px;
        span{
          color: rgb(106, 235, 228);
        }
      }
      .already{
        color: rgb(199, 199, 199);
        margin-bottom: 25px;
        span{
          cursor: pointer;
          color: rgb(102, 102, 219);
        }
      }
      .input{
        margin-top: 15px;
        width: 360px;
        height: 55px;
        background-color: #333744;
        border-radius: 15px;
        padding: 5px 10px;
        p{
          color: #6f727b;
          font-size: 14px;
        }
        div{
          position: relative;
          input{
            width: 250px;
          }
          fa-icon{
            position: absolute;
            right: 0;
            top: -7px;
            color: #a4a8af;
            font-size: 17px;
          }
        }     
      }
      .fullname-wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        p{
          color: #6f727b;
          font-size: 14px;
        }
        > div {
          width: 175px;
          height: 55px;
          background-color: #333744;
          border-radius: 15px;
          padding: 5px 10px;
          div{
            position: relative;
          }
          input{
            width: 130px;
          }
          fa-icon{
            position: absolute;
            right: 0;
            top: -7px;
            color: #a4a8af;
            font-size: 17px;
          }
        }
      }
    }
    .signIn{
      z-index: 1;
      transform: perspective(100px) translate3d(100px, 0px, -30px);
      opacity: 0.5;
    }
    .signUp {
      z-index: 2;
    }
    
    .active-dx{
      animation-name: foregrounding-dx;
      animation-duration: 0.9s;
      animation-fill-mode: forwards;
    }
    
    .active-sx{
      animation-name: foregrounding-sx;
      animation-duration: 0.9s;
      animation-fill-mode: forwards;
    }
    
    .inactive-dx{
      animation-name: overshadowing-dx;
      animation-duration: 0.9s;
      animation-fill-mode: forwards;
    }
    
    .inactive-sx{
        animation-name: overshadowing-sx;
        animation-duration: 0.9s;
        animation-fill-mode: forwards;
    }
  }
}





  
  @keyframes overshadowing-dx {
    0%{
      z-index:2;
      transform: perspective(100px) translate3d(0px, 0px, 0px);
      opacity: 1;
      box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    }
    100%{
      z-index: 1;
      transform: perspective(100px) translate3d(100px, 0px, -30px);
      opacity: 0.5;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
    }
  }
  
  @keyframes overshadowing-sx {
    0%{
      z-index:2;
      transform: perspective(100px) translate3d(0px, 0px, 0px);
      opacity: 1;
      box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    }
    100%{
      z-index: 1;
      transform: perspective(100px) translate3d(-100px, 0px, -30px);
      opacity: 0.5;
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
    }
  }
  
  @keyframes foregrounding-dx {
    0%{
      z-index:1;
      transform: perspective(100px) translate3d(100px, 0px, -30px);
      opacity: 0.5;
    }
    50%{
      z-index:2;
      transform: perspective(100px) translate3d(400px, 0px, -30px);
    }
    100%{
      z-index:2;
      transform: perspective(100px) translate3d(0px, 0px, 0px);
      opacity: 1;
    }
  }
  
  @keyframes foregrounding-sx {
    0%{
      z-index:1;
      transform: perspective(100px) translate3d(-100px, 0px, -30px);
      opacity: 0.5;
    }
    50%{
      z-index:2;
      transform: perspective(100px) translate3d(-400px, 0px, -30px);
    }
    100%{
      z-index:2;
      transform: perspective(100px) translate3d(0px, 0px, 0px);
      opacity: 1;
    }
  }