<main>
    <div class="top-bar">
        <img class="profile-bg" src="https://www.iekakmi-roadtrips.gr/plugins/fullpage/examples/imgs/bg3.jpg">
        <div class="logo-name-wrapper">
            <img src="https://static.tvtropes.org/pmwiki/pub/images/abcb6534_7913_4eb1_a7a5_62b081ebc628.png" alt="pic">
            <h2>{{userData.firstName + " " + userData.lastName}}</h2>
        </div>
    </div>
</main>

<form method="post">
    <input type="file" name="image" (change)="uploadPic($event)">
</form>
