<main>
    <div class="top-bar">
        <img class="profile-bg" src="https://www.iekakmi-roadtrips.gr/plugins/fullpage/examples/imgs/bg3.jpg">
        <div class="logo-name-wrapper">
            <img src="https://static.tvtropes.org/pmwiki/pub/images/abcb6534_7913_4eb1_a7a5_62b081ebc628.png" alt="pic">
            <h2>Zura Japoshvili</h2>
        </div>
    </div>
</main>

<form method="post" action="http://localhost:8800/api/upload/" enctype="multipart/form-data">
    <input type="file" name="image">
    <input type="submit">
</form>